body {
    background-color: #086ca2;
    text-align: center;
}

h1 {
    color: white;
    background-color: #3c9dd0;
}

ul {
    background-color: rgb(165, 160, 160);
    padding: 0;
    margin: 0;
}